.idea/**
.gradle/**
.*.log*
.cache/*
.vagrant/*
.cache/*
.nextflow*
work/*
*/work/*
report.html
*.dot
*.png*
reduction
normalized_gems/
gem_subsamples/
normal_gem_subset/
.ipynb_checkpoints/
*.pyc
*.nc
